Flask==0.12.2
graphene==1.4
Flask-GraphQL==1.4.1
Flask-Cors==3.0.3

iso8601

# Environment Service requirements
#docker==2.3.0
docker==1.10.4

# Testing requirements
mock==2.0.0
pytest
snapshottest==0.5.0
